.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #fff;
}

.container > h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;

}
.imglogo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.card-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.card-login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.buttonForm {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.buttonForm:hover {
    background-color: #0056b3;
}

.buttonRetorno{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(230, 33, 33);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.messageError {
    display: block;
    width: 35px;  
    height: 35px; 
    border-radius: 10%; 
    background-color: red;
    padding: 10px;
    box-sizing: border-box; 
 }
 
 .textMessageError {
     text-align: center;
     color: white;
 }

 .criarconta{
    margin-top: 10px;
 }
 .esquecesenha{
    
 }

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .card-login {
        padding: 15px;
    }

    .card-login input, .card-login button {
        font-size: 14px;
    }
}